<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>That is One Tasty Burger!</title>

        <!-- CSS Style Sheets -->
        <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
        <link rel="stylesheet" href="assets/css/style.css" type="text/css">

        <!-- Links to Scripts -->
        <script src="https://code.jquery.com/jquery.js"></script>

    </head>

    <body>

        {{{body}}}

    </body>

    <footer>
        
    </footer>

</html>