<div class="container">

    <div class="burgers">

        <ul>
            {{#each burgers}}
                
            {{/each}}
        </ul>
        
    </div>

    <div class="devoured">
        
    </div>

</div>